<form #form="ngForm" (ngSubmit)="onSubmit(form.value)">
  <app-form-field *ngFor="let formObject of formObjects" [fieldType]="formObject['field_type']" name="{{formObject['api_field_name']}}" required></app-form-field>
  <button mat-raised-button color="primary" type="Submit" [disabled]="!form.valid">Submit</button>
</form>
