<div *ngIf="fieldType === 'date'">
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="value">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>
<div *ngIf="fieldType === 'text'">
  <mat-form-field>
    <input matInput placeholder="Favorite food" value="Sushi" [(ngModel)]="value">
  </mat-form-field>
</div>
<div *ngIf="fieldType === 'select'">
  <mat-form-field>
    <mat-select placeholder="Favorite food" [(ngModel)]="value">
      <mat-option *ngFor="let option of options" [value]="option.value">
        {{option.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div *ngIf="fieldType === 'datetime'">
  <mat-form-field>
    <input matInput placeholder="Enter a date and time" [owlDateTime]="dt1" [(ngModel)]="value">
    <mat-icon matSuffix [owlDateTimeTrigger]="dt1" style="cursor: pointer">schedule</mat-icon>
    <owl-date-time [pickerMode]="'dialog'" #dt1></owl-date-time>
  </mat-form-field>
</div>
<div *ngIf="fieldType === 'integer' || fieldType === 'bigint'">
  <mat-form-field>
    <input matInput placeholder="Number of nipples" type="number" pattern="^(\+|-)?\d+$" [(ngModel)]="value">
  </mat-form-field>
</div>
<div *ngIf="fieldType === 'decimal'">
  <mat-form-field>
    <input matInput placeholder="Number of nipples" type="number" [(ngModel)]="value">
  </mat-form-field>
</div>
<div *ngIf="fieldType === 'char'">
  <mat-form-field>
    <input matInput placeholder="Favorite food" [(ngModel)]="value" pattern="^[a-zA-Z0-9]$">
  </mat-form-field>
</div>
